RESRAssuredAutomation/src/main/resources/Calculator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/"   
           schemaLocation="http://schemas.xmlsoap.org/soap/envelope/"/> <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="a"/>
        <xs:element type="xs:string" name="b"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>